{% load static %}
{% include "MainPageArenglo/partials/head.html" %}
<body>

    {% include "MainPageArenglo/partials/cabecalho.html" %}
<div class="main-header-container">
  <div class="container">       		
    <div class="geral">        
        <!-- Slideshow container -->
        <div class="slideshow-container">
        
          <!-- Full-width images with number and caption text -->
          <div class="mySlides fade">
            <img src="static/SiteArenglo/images/casa_uba_11.jpg" title= "#" style="" width="100%">
            <!--<div class="text">Caption Text</div>-->
          </div>
        
          <div class="mySlides fade">
            <img src="static/SiteArenglo/images/apto_GBD_11.jpg" title= "#" style="" width="100%">
            <!--<div class="text">Caption Two</div>-->
          </div>
        
          <div class="mySlides fade">
            <img src="static/SiteArenglo/images/apto_GBD_21.jpg" title= "#" style="" width="100%">
            <!--<div class="text">Caption Three</div>-->
          </div>
          
          <div class="mySlides fade">
            <img src="static/SiteArenglo/images/Perspectiva-Zoo.jpg" title= "#" style="" width="100%">
            <!--<div class="text">Caption Four</div>-->
          </div>
          
          <div class="mySlides fade">
            <img src="static/SiteArenglo/images/paisa_IMG_11.jpg" title= "#" style="" width="100%">
            <!--<div class="text">Caption Fifyth</div>-->
          </div>
          
          <div class="mySlides fade">
            <img src="static/SiteArenglo/images/jardim_inverno11.jpg" title= "#" style="" width="100%">
            <!--<div class="text">Caption Sixth</div>-->
          </div>
        </div>
    
    <br>
    
        <div style="text-align:center">
          <span class="dot"></span> 
          <span class="dot"></span> 
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span> 
        </div>
        
        <script class="mudanca">
        let slideIndex = 0;
        showSlides();
        
        function showSlides() {
          let i;
          let slides = document.getElementsByClassName("mySlides");
          let dots = document.getElementsByClassName("dot");
          for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";  
          }
          slideIndex++;
          if (slideIndex > slides.length) {slideIndex = 1}    
          for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
          }
          slides[slideIndex-1].style.display = "block";  
          dots[slideIndex-1].className += " active";
          setTimeout(showSlides, 2000); // Change image every 2 seconds
        }
        </script>
    </div>
</div> 
       

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="static/SiteArenglo/bootstrap/js/bootstrap.min.js"></script>

</body>        

<section>
    {% include "MainPageArenglo/partials/rodape.html" %}
</section>    
</html>