{% include "MainPageArenglo/partials/head.html" %}
{% include "MainPageArenglo/partials/cabecalho.html" %}
{% load static %}
    <br>
    <br>
<body>
    <div class="row">
        <div class="column">
          <img src="{% static 'SiteArenglo/images/estrutura/holam_2.jpg' %}" >
            <p>Concreto Armado</p>
        </div>
        <div class="column">
          <img src="{% static 'SiteArenglo/images/estrutura/bom-pastor.jpg' %}" >
            <p>Estrutura Metalica</p>
        </div>
        <div class="column">
          <img src="{% static 'SiteArenglo/images/estrutura/estrutura-zoo.jpg' %}" >
            <p>Estrutura Metalica</p>
        </div>
        <div class="column">  
          <img src="" >
            <p></p>
        </div>
    </div>
    <div class="row">
        <div class="column">
          <img src="" >
            <p></p>
        </div>
        <div class="column">
          <img src="" >
            <p></p>
        </div>
        <div class="column">
          <img src="" >
            <p></p>
        </div>
        <div class="column">  
          <img src="" >
            <p></p>
        </div>
    </div>
</body>

</div>
{% include "MainPageArenglo/partials/rodape.html" %}
</div>