{% include "MainPageArenglo/partials/head.html" %}
{% include "MainPageArenglo/partials/cabecalho.html" %}
{% load static %}
    <br>
    <br>
   
    <body>
    <div class="main-header-container">
        <div class="container">
            <div class= "pagina-perfil">
            
                <p> A <b>Arenglo Brasil</b> é uma empresa voltada ao desenvolvimento
                 de projetos de arquitetura e engenharia, em todas as disciplinas, 
                 buscando a funcionalidade e articulação dos espaços, o planejamento
                  detalhado de cada etapa do projeto e da execução, e a aplicação das
                   melhores técnicas construtivas com atenção a todos os detalhes
                   que caracterizam os nossos trabalhos.</p>
                <br>
                <p> Nossa equipe, composta por arquitetos e engenheiros com larga
                 experiência, procura entender todos os anseios esperados pelo
                  proprietário para a convivência na edificação, seja ela residencial,
                   comercial ou mesmo industrial.   </p>
            
            </div>
            <br>
      
            </div>
            {% include "MainPageArenglo/partials/rodape.html" %}
            </div>
        </div>
    </div>
    </body>
</html>